{% extends "base.html" %}
{% block html_title %}
    Главная страница
{% endblock %}

{% block html_body %}
    <div class="container mt-5">
        <div class="text-center">
            <h1>Главная страница</h1>
        </div>
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
             <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm ">
              <div class="card-header py-3 text-black bg-info ">
                <h4 class="my-0 fw-normal">Брони</h4>
              </div>
              <div class="card-body">
                <a href="/orders-list" class="w-100 btn btn-lg btn-info">Посмотреть</a>
              </div>
            </div>
          </div>
              <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                  <div class="card-header py-3 text-black bg-info">
                    <h4 class="my-0 fw-normal">Туры</h4>
                  </div>
                  <div class="card-body">
                      <a href="/autos-list" class="w-100 btn btn-lg btn-info">Посмотреть</a>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                  <div class="card-header py-3 text-black bg-info">
                    <h4 class="my-0 fw-normal">Клиенты</h4>
                  </div>
                    <div class="card-body">
                        <a href="/clients-list" class="w-100 btn btn-lg btn-info">Посмотреть</a>
                    </div>
                </div>
              </div>
        </div>
    </div>

{% endblock %}